.col-md-8.col-md-offset-2
  = form_for [:dashboard, @company] do |f|
    - if @company.errors.any?
      #error_explanation
        h2 = "#{pluralize(@company.errors.count, "error")} prohibited this company from being saved:"
        ul
          - @company.errors.full_messages.each do |message|
            li = message

    .form-group
      = f.label :title
      = f.text_field :title, class: 'form-control'
    .form-group
      = f.label :about
      = f.text_area :about, class: 'form-control'
    .form-group
      = f.label :url
      = f.text_field :url, class: 'form-control'
    .actions = f.submit 'Save', class: 'btn btn-default'
