h1 Listing companies

table.table.table-bordered.table-hover
  thead
    tr
      th Title
      th

  tbody
    - @companies.each do |company|
      tr
        td = link_to company.title, [:dashboard, company]
        td
          => link_to 'Edit', edit_dashboard_company_path(company)
          = link_to 'Destroy', [:dashboard, company], data: { confirm: 'Are you sure?' }, method: :delete
