h1 = @company.title
small = link_to 'Edit', [:edit, :dashboards, @company]

p = @company.about
p = @company.url

h1 Vacancies

.text-center = will_paginate @vacancies

table#published_vacancies.table.table-bordered.table-hover
  tr
    th Title
    th Actions

  - @vacancies.each do |vacancy|
    tr
      td = link_to vacancy.title, [:edit, :dashboards, @company, vacancy]
      td
        => link_to 'Delete', [:dashboards, @company, vacancy], method: :delete, data: { confirm: 'Are you sure?' }
        = link_to 'Archive', archive_dashboards_company_vacancy_path(@company, vacancy), method: :put

= link_to 'New vacancy', new_dashboards_company_vacancy_path(@company), class: 'btn btn-default'

.text-center = will_paginate @vacancies

h1 Archived vacancies

.text-center = will_paginate @archived_vacancies

table#archived_vacancies.table.table-bordered.table-hover
  tr
    th Title
    th Actions

  - @archived_vacancies.each do |vacancy|
    tr
      td = link_to vacancy.title, [:edit, :dashboards, @company, vacancy]
      td
        => link_to 'Delete', [:dashboards, @company, vacancy], method: :delete, data: { confirm: 'Are you sure?' }
        = link_to 'Unarchive', unarchive_dashboards_company_vacancy_path(@company, vacancy), method: :put

.text-center = will_paginate @archived_vacancies
