<h2>Редактирование профиля</h2>

<div class="col-md-8 col-md-offset-1">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class='form-group'>
      <%= f.label :name, 'Имя' %><br />
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class='form-group'>
      <%= f.label :surname, 'Фамилия' %><br />
      <%= f.text_field :surname, class: 'form-control' %>
    </div>

    <div class='form-group'>
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :about, 'Расскажите о себе' %>
      <%= f.text_area :about, placeholder: 'Здесь вы можете написать о своих хобби, увлечениях и интересах', class: 'form-control' %>
    </div>

    <div class='form-group'>
      <%= f.label :github, 'Имя пользователя на Github' %><br />
      <%= f.text_field :github, class: 'form-control', placeholder: 'Укажите только имя пользователя, не ссылку на страницу' %>
    </div>

    <div class='form-group'>
      <%= f.label :twitter, 'Имя пользователя в Twitter' %><br />
      <%= f.text_field :twitter, class: 'form-control', placeholder: 'Укажите только имя пользователя, не ссылку на страницу' %>
    </div>

    <div class='form-group'>
      <%= f.label :city, 'Город' %><br />
      <%= f.text_field :city, class: 'form-control' %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class='form-group'>
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class='form-group'>
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class='form-group'>
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
    </div>

    <%= f.submit "Сохранить", class: 'btn btn-primary' %>
  <% end %>

  <h3>Удаление аккаунта</h3>

  <p>Не нравится сайт?
    <%= button_to "Удалить аккаунт", registration_path(resource_name), data: {  confirm: "Are you sure?" }, method: :delete, class: 'btn btn-warning' %>
  </p>
</div>
