h1 Listing vacancies

table.table.table-hover
  thead
    tr
      th Title
      th Salary

  tbody
    - @vacancies.each do |vacancy|
      tr
        td = link_to vacancy.title, vacancy
        td = "$#{vacancy.salary_from}"

.text-center = will_paginate @vacancies
