nav.navbar.navbar-default
  .container
    .navbar-header
      button { class = 'navbar-toggle collapsed'
               type = 'button'
               data-toggle = 'collapse'
               data-target = '#navbar-collapse'
               aria-expanded = 'false'
             }
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      = link_to 'Hire Junior', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse id='navbar-collapse'
      ul.nav.navbar-nav
        li = link_to 'Resumes', resumes_path
        li = link_to 'Vacancies', vacancies_path
      ul.nav.navbar-nav.navbar-right
        - if signed_in?
          li = link_to 'Создать резюме', new_dashboards_resume_path
          li.dropdown
            a.dropdown-toggle href='#' data-toggle='dropdown'
              i.glyphicon.glyphicon-th-large
              span.caret
            ul.dropdown-menu role='menu'
              li = link_to 'Дашборд', dashboard_path
              li = link_to 'Настройки', edit_user_registration_path
              li = link_to 'Выход', destroy_user_session_path, data: { method: :delete }
        - else
          li.dropdown
            a.dropdown-toggle href='#' data-toggle='dropdown'
              i.glyphicon.glyphicon-lock
              span.caret
            ul.dropdown-menu role='menu'
              li = link_to 'Вход', new_user_session_path
              li = link_to 'Регистрация', new_user_registration_path
