h1 Hire Junior!

.jumbotron
  .h4
    p Here you can hire junior or create resume to let companies, willing to hire juniors, find you!
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore veritatis placeat alias necessitatibus corrupti maxime suscipit inventore id ullam nam a iste earum, ipsam, voluptate, magnam? Magni tenetur ab laborum!

.text-center
  p.h3
    ' You can
    => link_to 'Search resumes', resumes_path
    ' or
    = link_to 'create one for yourself!', new_resume_path
