.col-md-8.col-md-offset-2
  = form_for [:dashboards, @resume] do |f|
    - if @resume.errors.any?
      #error_explanation
        h2 = "#{pluralize(@resume.errors.count, "error")} prohibited this resume from being saved:"
        ul
          - @resume.errors.full_messages.each do |message|
            li = message

    .form-group
      = f.label :title, 'Должность'
      = f.text_field :title, class: 'form-control'
    .form-inline
      .form-group
        label
          | Желаемая оплата
          br
          ' От
          => f.number_field :salary_from, class: 'form-control'
          ' до
          => f.number_field :salary_to, class: 'form-control'
          = f.select :currency, Resume.currencies.keys.to_a, {}, { class: 'form-control' }
    .form-group
      label>
        | Готов к переезду?
        = f.check_box :relocate, class: 'form-control'
      label
        | Готов к удаленной работе?
        = f.check_box :remote, class: 'form-control'

    .form-group
      = f.select :category_id, Category.all.collect { |c| [c.title, c.id] }, {}, { class: 'form-control' }

    .form-group
      = f.label :experience, 'Опишите свой опыт в вашей сфере'
      = f.text_area :experience, class: 'form-control'
    .form-group
      = f.label :skills, 'Список навыков'
      = f.text_area :skills, class: 'form-control'
    .form-group
      = f.label :courses, 'Пройденные курсы'
      = f.text_area :courses, class: 'form-control'
    .form-group
      = f.label :books, 'Прочтенные книги'
      = f.text_area :books, class: 'form-control'
    .form-group
      = f.label :projects, 'Реализованные проекты'
      = f.text_area :projects, class: 'form-control'
    .actions = f.submit 'Опубликовать', class: 'btn btn-default'
