h1 Your resumes

table#published_resumes.table.table-bordered.table-hover
  tr
    th Title
    th Actions

  - @resumes.each do |resume|
    tr id=("resume-#{resume.id}")
      td = link_to resume.title, edit_dashboards_resume_path(resume)
      td
        = link_to 'Delete', dashboards_resume_path(resume), method: :delete, data: { confirm: 'Are you sure?' }
        = link_to 'Archive', archive_dashboards_resume_path(resume), method: :put

  .text-center
    = will_paginate @resumes

h1 Archived resumes

table#archived_resumes.table.table-bordered.table-hover
  tr
    th Title
    th Actions

  - @archived_resumes.each do |resume|
    tr id=("resume-#{resume.id}")
      td = link_to resume.title, edit_dashboards_resume_path(resume)
      td
        = link_to 'Delete', dashboards_resume_path(resume), method: :delete, data: { confirm: 'Are you sure?' }
        = link_to 'Unarchive', unarchive_dashboards_resume_path(resume), method: :put
