h1 = @resume.title

.panel.panel-default
  .panel-heading
    h2 = link_to @resume.title, @resume
    - if policy(@resume).edit?
      small = link_to 'Edit', edit_resume_path(@resume)
  .panel-body
    .row
      .col-md-2
        = image_tag(Faker::Avatar.image('my-own-slug', '150x150'))
      .col-md-8
        h4 Опыт работы
        p = @resume.experience

        h4 Пройденные курсы
        p = @resume.courses

        h4 Прочитанные книги
        p = @resume.books

        h4 Проекты
        p = @resume.projects
      .col-md-2
        h4 Ожидаемая зарплата
        = "$#{@resume.salary_from}-#{@resume.salary_to}"

  .panel-footer
    h3 Контакты
    li = @resume.user.github
    li = @resume.user.twitter
    li = @resume.user.email
    / li = @resume.user.phone
