.well.well-sm
  ul.nav.nav-pills
    li role="presentation"
      a.dropdown-toggle data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
        ' Companies & Vacancies
        span.caret
      ul.dropdown-menu
        li = link_to 'New company', new_dashboards_company_path
        - if @companies
          - @companies.each do |company|
            li
              = link_to [:dashboards, company] do
                i.glyphicon.glyphicon-chevron-right
                = company.title
    li role="presentation"
      = link_to 'Resumes', dashboards_resumes_path
