.col-md-8.col-md-offset-2
  = form_for dashboards_company_vacancies_path(@company) do |f|
    - if @vacancy.errors.any?
      #error_explanation
        h2 = "#{pluralize(@vacancy.errors.count, "error")} prohibited this vacancy from being saved:"
        ul
          - @vacancy.errors.full_messages.each do |message|
            li = message

    .form-group
      = f.label :title
      = f.text_field :title, class: 'form-control'
    .form-group
      = f.select :category_id, Category.all.collect { |c| [c.title, c.id] }, {}, { class: 'form-control' }
    .form-group
      = f.label :salary_from
      = f.number_field :salary_from, class: 'form-control'
    .form-group
      = f.label :about
      = f.text_area :about, class: 'form-control'
    .form-group
      = f.label :city
      = f.text_field :city, class: 'form-control'
    .form-group
      label>
        ' Remote?
        => f.check_box :remote, class: 'form-control'
      label>
        ' Relocate?
        = f.check_box :relocate, class: 'form-control'
    .actions = f.submit 'Publish', class: 'btn btn-default'
