h1 Listing vacancies

table
  thead
    tr
      th Title
      th Salary from
      th About
      th City
      th Remote
      th Relocate
      th
      th
      th

  tbody
    - @vacancies.each do |vacancy|
      tr
        td = vacancy.title
        td = vacancy.salary_from
        td = vacancy.about
        td = vacancy.city
        td = vacancy.remote
        td = vacancy.relocate
        td = link_to 'Show', vacancy
        td = link_to 'Edit', edit_vacancy_path(vacancy)
        td = link_to 'Destroy', vacancy, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Vacancy', new_vacancy_path
