p#notice = notice

p
  strong Title:
  = @vacancy.title
p
  strong Salary from:
  = @vacancy.salary_from
p
  strong About:
  = @vacancy.about
p
  strong City:
  = @vacancy.city
p
  strong Remote:
  = @vacancy.remote
p
  strong Relocate:
  = @vacancy.relocate

= link_to 'Edit', edit_vacancy_path(@vacancy)
'|
= link_to 'Back', vacancies_path
