h1 Список резюме

- @resumes.each do |resume|
  .panel.panel-default
    .panel-heading
      h2 = link_to resume.title, resume
    .panel-body
      .row
        .col-md-2
          = image_tag(Faker::Avatar.image('my-own-slug', '150x150'))
        .col-md-8
          p = resume.experience
        .col-md-2
          li = "$#{resume.salary_from}-#{resume.salary_to}"
          li = resume.courses
          li = resume.books

.text-center
  = will_paginate @resumes
