<!DOCTYPE html>
<html>
  <head>
    <title>Hirejunior</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>

    <div class="container">
      <%= render 'dashboards/subnavbar' %>
      <%= render partial: "shared/flash", flash: flash %>
      <%= yield %>
      <%= switch_user_select if Rails.env.development? %>
    </div>
  </body>
</html>
